@charset "UTF-8";

table {
	margin-left: auto; /* 가운데 정렬  */
	margin-right: 60%; /* 가운데 정렬  */
	width: 50%; /* 테이블 가로 크기  */

}

th {
	width: 20%;
}
#button1{
	float:right;
	background-color: white; /* 전체 배경색  */
	color: black; /* 전체 글자색  */
	border-radius: 5px;
}
td{
background-color: white;
	color:black;
	width: 40%
}
#val{
 background-color: white;
	color:black;
	border:0px;
}
#h3 {
	font-size: 30px; /* 글자크기 */
	text-align: center; /* 가운데 정렬  */
	

}
