@charset "UTF-8";
*{
	background-color: gray;  /* 블랙변경 예정 */
    color: white;
}
table{
  width: 100%;
  text-align: center;
  color: white;
}
#h3{
	color: white;		
	text-align: center;
}
th,td{
color: white;
}